*{color:#666;font-size:13px;margin:0;padding:0;box-sizing:border-box;}

body#index{overflow-x:hidden;overflow-y:scroll;background:#f8f8f8;}

.round{-moz-border-radius: 5px;      	/* Gecko browsers */
    -webkit-border-radius: 5px;   		/* Webkit browsers */
    border-radius:5px;            		/* W3C syntax */
}
.round2{-moz-border-radius: 2px;      	/* Gecko browsers */
    -webkit-border-radius: 2px;   		/* Webkit browsers */
    border-radius:2px;            		/* W3C syntax */
}
.round3{-moz-border-radius: 2px;      	/* Gecko browsers */
    -webkit-border-radius: 2px;   		/* Webkit browsers */
    border-radius:2px;            		/* W3C syntax */
}
a{text-decoration:none;}
ul{list-style:none;}
.hide{display:none !important;}
.customer-disable{pointer-events:none;background:#f7f7f7;}
.main-header{background:#fff;height:50px;border: 1px solid #E7E7E7;position:fixed;width:100%;top:0;left:0;z-index:8888;color:#e67e22;}
.main-header .header-title{font-size:16px;padding-left:18px;}
.main-header .login-out{line-height:50px;}
.main-content{margin-top:61px;}
/*left*/
.main-left{height:100%;overflow: hidden;padding:10px;}
.main-left .nav-bar{background:#fff;}
.main-left .nav-bar h6{line-height:38px;height:38px;background:#666;text-align:center;color:#fff;font-size:16px;font-weight: bold;margin:0;}
.main-left .nav-bar h6 i{font-size:16px;color:#fff;font-weight: bold;margin-left:8px;}
.main-left dl{margin-bottom:20px;}
.main-left dl dt{line-height:38px;background:#ebebeb;padding-left:18px;color:#e67e22;}
.main-left dl dt i{margin-right:8px;color:#e67e22;}
.main-left dl dd{line-height:33px;color:#666;border-bottom:1px dashed #f8f8f8;}
.main-left dl dd i{margin:0 8px 0 28px;color:#666;}
.main-left dl dd a{color:#666;font-size:13px;text-decoration:none;}
.main-left dl dd:hover{background:#e67e22;border-bottom:1px solid #e67e22;}
.main-left dl dd:hover a,.main-left dl dd:hover i{color:#fff;}
/*active*/
.main-left dl dd.active{background:#e67e22;border-bottom:1px solid #e67e22;}
.main-left dl dd.active a,.main-left dl dd.active i{color:#fff;}
/*page*/
.main-right{height:100%;padding:10px;}
.main-right .page-wrapper{background:#fff;padding:10px;}


/*message content*/
.message-content{padding:88px 0;font-size:23px;color:#e67e22;text-align:center;}







































